<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "com.chen.brand.mapper.ApproveJwzlMapper">

    <insert id = "insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.chen.brand.model.ApproveJwzl">
        insert into approve_jwzl (mc, zz, sqh, rq, status, userId, zs)
        values(#{mc}, #{zz}, #{sqh}, #{rq}, #{status}, #{userId}, #{zs})
    </insert>

    <update id = "update" parameterType = "com.chen.brand.model.ApproveJwzl">
        update approve_jwzl
        <set>
            <if test = "mc != null" >
                mc = #{mc},
            </if>
            <if test = "zz != null">
                zz = #{zz},
            </if>
            <if test = "sqh != null">
                sqh = #{sqh},
            </if>
            <if test = "rq != null">
                rq = #{rq},
            </if>
            <if test = "zs != null">
                zs = #{zs},
            </if>
            <if test = "status != null">
                status = #{status},
            </if>
            <if test = "firstComment != null">
                firstComment = #{firstComment},
            </if>
            <if test = "finalComment != null">
                finalComment = #{finalComment},
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id = "delete">
        delete from approve_jwzl where id = #{id}
    </delete>

    <select id = "findOne" resultType="com.chen.brand.model.ApproveJwzl">
        select b.*, s.id as sampleId, s.qymcCn sampleName, s.ssqx as areaCode from approve_jwzl b, `user` u, sample s
        where b.id = #{id} and u.id = b.userId and u.id = s.userId
    </select>

    <select id = "isExist" resultType="java.lang.Integer">
        select count(*) from approve_jwzl where id = #{id}
    </select>

    <select id = "findAll" resultType="com.chen.brand.model.ApproveJwzl">
        select b.*, s.id as sampleId, s.qymcCn sampleName, s.ssqx as areaCode from approve_jwzl b, `user` u, sample s
        <where>
            u.id = b.userId and u.id = s.userId
            <if test = "areaCode != null">
                and u.areaCode = #{areaCode}
            </if>
            <if test = "userId != null">
                and u.id = #{userId}
            </if>
            <if test = "sampleName != null">
                <bind name="temp" value="'%' + _parameter.sampleName + '%'" />
                and (s.qymcCn like #{temp} or s.qymcEn like #{temp})
            </if>
            <if test = "status != null">
                and b.status = #{status}
            </if>
        </where>
        order by id desc limit #{start}, #{pageSize}
    </select>

    <select id = "count" resultType="java.lang.Integer">
        select count(*) from approve_jwzl b, `user` u, sample s
        <where>
            u.id = b.userId and u.id = s.userId
            <if test = "areaCode != null">
                and u.areaCode = #{areaCode}
            </if>
            <if test = "userId != null">
                and u.id = #{userId}
            </if>
            <if test = "sampleName != null">
                <bind name="temp" value="'%' + _parameter.sampleName + '%'" />
                and (s.qymcCn like #{temp} or s.qymcEn like #{temp})
            </if>
            <if test = "status != null">
                and b.status = #{status}
            </if>
        </where>
    </select>

</mapper>