<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "com.chen.brand.mapper.ApproveRychMapper">

    <insert id = "insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.chen.brand.model.ApproveRych">
        insert into approve_rych (mc, jg, sj, cl, status, userId)
        values(#{mc}, #{jg}, #{sj}, #{cl}, #{status}, #{userId})
    </insert>

    <update id = "update" parameterType = "com.chen.brand.model.ApproveRych">
        update approve_rych
        <set>
            <if test = "mc != null" >
                mc = #{mc},
            </if>
            <if test = "jg != null">
                jg = #{jg},
            </if>
            <if test = "sj != null">
                sj = #{sj},
            </if>
            <if test = "cl != null">
                cl = #{cl},
            </if>
            <if test = "firstComment != null">
                firstComment = #{firstComment},
            </if>
            <if test = "finalComment != null">
                finalComment = #{finalComment},
            </if>
            <if test = "status != null">
                status = #{status}
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id = "delete">
        delete from approve_rych where id = #{id}
    </delete>

    <select id = "findOne" resultType="com.chen.brand.model.ApproveRych">
        select b.*, s.id as sampleId, s.qymcCn sampleName, s.ssqx as areaCode from approve_rych b, `user` u, sample s
        where b.id = #{id} and u.id = b.userId and u.id = s.userId
    </select>

    <select id = "isExist" resultType="java.lang.Integer">
        select count(*) from approve_rych where id = #{id}
    </select>

    <select id = "findAll" resultType="com.chen.brand.model.ApproveRych">
        select b.*, s.id as sampleId, s.qymcCn sampleName, s.ssqx as areaCode from approve_rych b, `user` u, sample s
        <where>
            u.id = b.userId and u.id = s.userId
            <if test = "areaCode != null">
                and u.areaCode = #{areaCode}
            </if>
            <if test = "userId != null">
                and u.id = #{userId}
            </if>
            <if test = "sampleName != null">
                <bind name="temp" value="'%' + _parameter.sampleName + '%'" />
                and (s.qymcCn like #{temp} or s.qymcEn like #{temp})
            </if>
            <if test = "status != null">
                and b.status = #{status}
            </if>
        </where>
        order by id desc limit #{start}, #{pageSize}
    </select>

    <select id = "count" resultType="java.lang.Integer">
        select count(*) from approve_rych b, `user` u, sample s
        <where>
            u.id = b.userId and u.id = s.userId
            <if test = "areaCode != null">
                and u.areaCode = #{areaCode}
            </if>
            <if test = "userId != null">
                and u.id = #{userId}
            </if>
            <if test = "sampleName != null">
                <bind name="temp" value="'%' + _parameter.sampleName + '%'" />
                and (s.qymcCn like #{temp} or s.qymcEn like #{temp})
            </if>
            <if test = "status != null">
                and b.status = #{status}
            </if>
        </where>
    </select>

</mapper>