<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "com.chen.brand.mapper.ApproveXyjsMapper">

    <insert id = "insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.chen.brand.model.ApproveXyjs">
        insert into approve_xyjs (content, dj, cl, code, `year`, status, userId)
        values(#{content}, #{dj}, #{cl}, #{code}, #{year}, #{status}, #{userId})
    </insert>

    <update id = "update" parameterType = "com.chen.brand.model.ApproveXyjs">
        update approve_xyjs
        <set>
            <if test = "dj != null">
                dj = #{dj},
            </if>
            <if test = "cl != null">
                cl = #{cl},
            </if>
            <if test = "status != null">
                status = #{status},
            </if>
            <if test = "firstComment != null">
                firstComment = #{firstComment},
            </if>
            <if test = "finalComment != null">
                finalComment = #{finalComment},
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id = "delete">
        delete from approve_xyjs where id = #{id}
    </delete>

    <select id = "findOne" resultType="com.chen.brand.model.ApproveXyjs">
        select b.*, s.ssqx as areaCode, s.qymcCn as sampleName, s.id as sampleId from approve_xyjs b, `user` u, sample s
        where id = #{id} and u.id = b.userId and s.userId = u.id
    </select>

    <select id = "isExist" resultType="java.lang.Integer">
        select count(*) from approve_xyjs where id = #{id}
    </select>

    <select id = "findAll" resultType="com.chen.brand.model.ApproveXyjs">
        select b.*, s.ssqx as areaCode, s.qymcCn as sampleName, s.id as sampleId from approve_xyjs b, `user` u, sample s
        <where>
            u.id = b.userId and s.userId = u.id
            <if test = "areaCode != null">
                and u.areaCode = #{areaCode}
            </if>
            <if test = "userId != null">
                and u.id = #{userId}
            </if>
            <if test = "year != null">
                and b.year = #{year}
            </if>
            <if test = "sampleName != null">
                <bind name="temp" value="'%' + _parameter.sampleName + '%'" />
                and (s.qymcCn like #{temp} or s.qymcEn like #{temp})
            </if>
            <if test = "status != null">
                and b.status = #{status}
            </if>
        </where>
        order by id desc limit #{start}, #{pageSize}
    </select>

    <select id = "count" resultType="java.lang.Integer">
        select count(*) from approve_xyjs b, `user` u, sample s
        <where>
            u.id = b.userId and s.userId = u.id
            <if test = "areaCode != null">
                and u.areaCode = #{areaCode}
            </if>
            <if test = "userId != null">
                and u.id = #{userId}
            </if>
            <if test = "year != null">
                and b.year = #{year}
            </if>
            <if test = "sampleName != null">
                <bind name="temp" value="'%' + _parameter.sampleName + '%'" />
                and (s.qymcCn like #{temp} or s.qymcEn like #{temp})
            </if>
            <if test = "status != null">
                and b.status = #{status}
            </if>
        </where>
    </select>

</mapper>