<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "com.chen.brand.mapper.PdfMapper">

    <insert id = "insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.chen.brand.model.Pdf">
        insert into pdf (`brandId`, userId, status, path)
        values(#{brandId}, #{userId}, #{status}, #{path})
    </insert>

    <update id = "update" parameterType = "com.chen.brand.model.Pdf">
        update pdf
        <set>
            <if test = "status != null" >
                `status` = #{status},
            </if>
            <if test = "path != null">
                path = #{path},
            </if>
            <if test = "firstComment != null">
                firstComment = #{firstComment},
            </if>
            <if test = "finalComment != null">
                finalComment = #{finalComment},
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id = "delete">
        delete from pdf where id = #{id}
    </delete>

    <select id = "findOne" resultType="com.chen.brand.model.Pdf">
        select * from pdf where id = #{id}
    </select>

    <select id = "isExist" resultType="java.lang.Integer">
        select count(*) from pdf where id = #{id}
    </select>

    <select id = "findAll" resultType="com.chen.brand.model.Pdf">
        select p.* from pdf p, sample s, `user` u
        <where>
            p.userId = u.id and s.userId = u.id
            <if test = "sampleName != null">
                <bind name="sampleNameTemp" value="'%' + _parameter.sampleName + '%'" />
                and (s.qymcCn like #{sampleNameTemp} or s.qymcEn like #{sampleNameTemp})
            </if>
            <if test = "status != null">
                and p.status = #{status}
            </if>
            <if test = "areaCode != null">
                and s.ssqx = #{areaCode}
            </if>
            <if test = "userId != null">
                and u.id = #{userId}
            </if>
        </where>
        order by id desc limit #{start}, #{pageSize}
    </select>

    <select id = "count" resultType="java.lang.Integer">
        select count(*) from pdf p, sample s, `user` u
        <where>
            p.userId = u.id and s.userId = u.id
            <if test = "sampleName != null">
                <bind name="sampleNameTemp" value="'%' + _parameter.sampleName + '%'" />
                and (s.qymcCn like #{sampleNameTemp} or s.qymcEn like #{sampleNameTemp})
            </if>
            <if test = "status != null">
                and p.status = #{status}
            </if>
            <if test = "areaCode != null">
                and s.ssqx = #{areaCode}
            </if>
            <if test = "userId != null">
                and u.id = #{userId}
            </if>
        </where>
    </select>

</mapper>